body{
    margin-left:15%;
    margin-right:15%;
    margin-top:2%;
    font-family: "Essays 1743", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
    font-weight:normal;
}

main{
    line-height: 170%;
    font-size:large;
}
footer{
    line-height: 170%;
    font-size:large;
}
a{
    color:rgb(178,34,34);
    border-bottom: 1px dotted;
    text-decoration:none;
}
.symbol::after{
    content:"\2767";
}
.symbol{
    font-size: xx-large;
    text-align: center;
    margin-top:5%;
    margin-bottom:5%;
}
.tbContent{
    font-size:20px;
    text-align: center;
}
.tbContent a{
    color:rgb(178,34,34);
    border-bottom: 1px dotted;
    text-decoration:none;
}
.titleh1{
    font-size:45px;
    font-weight: normal;
    text-align:center;
    margin-top:5%;
    margin-bottom:5%;
}
.video{
    float:right;
    margin:30px;
}
.forms{
    float:left;
    margin-right:30px;
    margin-bottom:30px;
}
.markup{
    float:right;
    margin-bottom:0;
    margin-left:30px;

}
.email{
    float:left;
    margin-right:30px;
    margin-bottom:30px;
}
.gears{
    float:right;
    margin-bottom:40px;
    margin-left:30px;
}
.bgBlack{
    color:white;
    background-color:black;
    padding:4px;
}
.footer{
    border:1px solid black;
    border-top:0;

}
.johnny_bag{
    float:right;
    margin-bottom:0;
    margin-top:15px;
    margin-left:35px;
    margin-right:-30px;
    width:180px;
    height:200px;
}
.input{
    text-align: center;
    margin-bottom:20px;

}

header .link{
    font-size: 18px ;
}
.author{
    font-size:16px;
    text-align:center;
}
.author a{
    color:black;
}